In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [ ]:
#with open('One.txt') as mytext:
 #   a = mytext.read()#redlines
#a

In [ ]:
with open('one.txt') as mytext:
    # read is the mood , lower and split reutern words only
    words_one = mytext.read().lower().split()
    # set return only the unique words no dublicate
    uni_words_one = set(words_one)

In [7]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [8]:
with open('Two.txt') as mytext2:
    words_two = mytext2.read().lower().split()
    uni_words_two = set(words_two)

In [11]:
all_uni_words = set()
all_uni_words.update(words_one)
all_uni_words.update(words_two)
# update like append :)

In [12]:
full_vocab = dict()
i = 0
for word in all_uni_words:
    full_vocab[word] = i
    i = i + 1

full_vocab

{'this': 0,
 'are': 1,
 'dogs': 2,
 'a': 3,
 'our': 4,
 'popular': 5,
 'animals': 6,
 'canine': 7,
 'sport': 8,
 'about': 9,
 'pets': 10,
 'fun': 11,
 'water': 12,
 'catching': 13,
 'story': 14,
 'surfing': 15,
 'furry': 16,
 'is': 17,
 'waves': 18}

In [13]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [15]:
with open('one.txt') as f:
    one_text = f.read().lower().split()

In [ ]:
'''''''''
'full_vocab = {'this': 0, 'are': 1, 'dogs': 2}
one_text = ['dogs', 'are', 'dogs']
one_freq = [0, 0, 0]  # initial counts
Processing step-by-step:

"dogs" → index 2 → one_freq[2] += 1 → [0, 0, 1]

"are" → index 1 → one_freq[1] += 1 → [0, 1, 1]

"dogs" → index 2 → one_freq[2] += 1 → [0, 1, 2]
'''''

for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [17]:
one_freq

[1, 1, 2, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0]

In [20]:
with open('two.txt') as mewo:
    two_text = mewo.read().lower().split()

for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [21]:
two_freq

[1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 2, 0, 3, 1]

In [22]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [23]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [24]:
pd.DataFrame(data =[one_freq,two_freq], columns=all_words)

,this,are,dogs,a,our,popular,animals,canine,sport,about,pets,fun,water,catching,story,surfing,furry,is,waves
0,2,2,4,2,2,0,2,2,0,2,2,0,0,0,2,0,2,2,0
1,1,0,0,1,0,1,0,0,1,1,0,1,1,1,1,2,0,3,1