In [2]:
import pandas as pd
import numpy as np

In [2]:
myindex = ['USA','CANDA','MAXICO']
mydata = [1776,1867,1821]

In [ ]:
# serise make you serise data (rows) + and it 
#would lable them by index lable 
myser = pd.Series(data=mydata , index = myindex)
myser

USA       1776
CANDA     1867
MAXICO    1821
dtype: int64

In [6]:
myser[0], myser['USA']

C:\Users\mhija\AppData\Local\Temp\ipykernel_29532\2138164975.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0], myser['USA']

(np.int64(1776), np.int64(1776))

In [ ]:
# key = index lable , value = value
ages = {'sam':42,'mostfa' :23 , 'ahmad' :59}
pd.Series(ages) ,  ages['mostfa']

23

(sam       42
 mostfa    23
 ahmad     59
 dtype: int64,
 None)

In [11]:
q1 = {'japan':80 ,'china':450 , 'india' :200 ,'USA':250}
q2 = {'brazil':100 , 'china':500 , 'india' :210 , 'USA':260}
sales1 = pd.Series(q1)
sales2 = pd.Series(q2)

In [12]:
sales1

japan     80
china    450
india    200
USA      250
dtype: int64

In [16]:
sales1['USA'] , sales1.keys()

(np.int64(250), Index(['japan', 'china', 'india', 'USA'], dtype='object'))

In [17]:
sales1 / 100

japan    0.8
china    4.5
india    2.0
USA      2.5
dtype: float64

In [18]:
sales1+ sales2

USA       510.0
brazil      NaN
china     950.0
india     410.0
japan       NaN
dtype: float64

In [23]:
# add able u to add another dataset to another but
# the new lables would got nan so to fill the that up 
# you set fill_value = 0 .......
all_sales = sales1.add(sales2 , fill_value=0)
all_sales

USA       510.0
brazil    100.0
china     950.0
india     410.0
japan      80.0
dtype: float64