In [2]:
import pandas as pd 
import numpy as np
from datetime import datetime

In [5]:
year = 2015
month = 10
day = 20
hour = 2
min = 30
sec = 5

In [7]:
mydata = datetime(year,month,day)
mydata

datetime.datetime(2015, 10, 20, 0, 0)

In [18]:
myser = pd.Series(['3,7,2025','27-6-2002',None])

In [19]:
timeser = pd.to_datetime(myser)
timeser

C:\Users\mhija\AppData\Local\Temp\ipykernel_28760\582008046.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  timeser = pd.to_datetime(myser)

0   2025-03-07
1   2002-06-27
2          NaT
dtype: datetime64[ns]

In [20]:
timeser[1].month

6

In [21]:
#Euro date DAY/MONTH/YEAR , American date MONTH/DAY/YEAR

euro_dates = ['21/07/2025', '01/03/2024']  # DD/MM/YYYY
us_dates = ['07/21/2025', '03/01/2024']    # MM/DD/YYYY

In [22]:
pd.to_datetime(euro_dates, dayfirst=True)

DatetimeIndex(['2025-07-21', '2024-03-01'], dtype='datetime64[ns]', freq=None)

In [ ]:
style_date = '12--Dec--2000'
pd.to_datetime(style_date,format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [25]:
custom_date = '12th of Dec 2000'
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [32]:
df = pd.read_csv('RetailSales_BeerWineLiquor.csv')
df

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [33]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['DATE'][0].year

1992

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [35]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [ ]:
sales = sales.set_index('DATE')

KeyError: "None of ['DATE'] are in the columns"

In [38]:
sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]